{% load static %}
{% comment %} 
<style>
    body {
      background-color: linen;
    }
    </style> {% endcomment %}

    <br><br>
<body>
    {% block content %}
    <!-- Footer Start -->

    <footer>
       <div class="roww">
           <div class="coll">
               <img src="static/images/fastlink.png" class="footer_logo"> <br>
               <p class="footer_aboutt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore harum molestias nesciunt, 
                   doloremque magni aspernatur iste blanditiis, fugiat quaerat accusamus ut, vero tempore. 
                   Fugiat, illum!
               </p>
           </div>
           <div class="coll">
               <h3>Links <div class="bottom_linee"><span></span></div></h3>
               <ul> 
                   <li><a href="{% url 'store' %}">HOME</a></li>
                   <li><a href="{% url 'user' %}">USERPAGE</a></li>
                   <li><a href="{% url 'profile' %}">PROFILE</a></li>
                   <li><a href="{% url 'contact' %}">CONTACT US</a></li>
               </ul>
           </div>
           <!-- <div class="coll">
               <h3>Newsletter <div class="bottom_linee"><span></span></div></h3>
               <form>
                   <ion-icon class="icon" name="mail"></ion-icon>
                   <input type="email" placeholder="Enter your email" required>
                   <button type="submit"><ion-icon class="icon_right" name="arrow-round-forward"></ion-icon></button>
               </form>
           </div> -->
       </div>
       <hr>
       <p class="copyrightt">Fast-Link Ⓒ 2022 - All Rights Reserved</p>
    <!-- Footer End -->   
</body>
</html>
{% endblock %}