{% block content %}
    <!-- Topbar Start -->
    <div class="hero_area">
        <div class="container-fluid">
            <div class="row py-2 px-xl-5">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-d" href="">FAQs</a>
                        <span class="text-muted px-2">|</span>
                        <a class="text-d" href="">Help</a>
                        <span class="text-muted px-2">|</span>
                        <a class="text-d" href="">Support</a>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-d px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-d px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-d px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-d px-2" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-d pl-2" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center py-3 px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <a href="" class="text-decoration-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                </div>
                <div class="col-lg-6 col-6 text-left" action="{% url 'search' %}">
                    <form action="{% url 'search' %}" method="POST">
                        {% csrf_token %} 
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for products" name="searched">
                            <div class="input-group-append">
                                <button class="input-group-text bg-transparent text-primary">
                                    <i class="fa fa-search" type="submit"></button></i>
                                
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="col-lg-3 col-6 text-right">
                    <a href="" class="btn border">
                        <i class="fas fa-heart text-primary"></i>
                        <span class="text-d">0</span>
                    </a>
                    <a href="{% url 'cart' %}" class="btn border">
                        <i class="fas fa-shopping-cart text-primary"></i>
                        <span id="cart-total" class="text-d">{{cartItems}}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid mb-5">
            <div class="row border-top px-xl-5">
                
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg  navbar-light py-3 py-lg-0 px-0">
                        <a href="" class="text-decoration-none d-block d-lg-none">
                            <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-d font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="index.html" class="text-d nav-item nav-link active">Home</a>
                                <a href="shop.html" class="nav-item nav-link">Shop</a>
                                <a href="detail.html" class="nav-item nav-link">Shop Detail</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                        <a href="checkout.html" class="dropdown-item">Checkout</a>
                                    </div>
                                </div>
                                <a href="contact.html" class="nav-item nav-link">Contact</a>
                            </div>
                            <div class="navbar-nav ml-auto py-0">
                                <a href="" class="nav-item nav-link">Login</a>
                                <a href="" class="nav-item nav-link">Register</a>
                            </div>
                        </div>
                    </nav>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-2">
        {% if messages %} {% for message in messages %}
        <div
          class="alert alert-{{ message.tags }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
    
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    
 <!-- Topbar End -->
{% endblock %}
  